* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sons-serif;
    font-size: 16px;
    background-color: lightblue;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: #282c34;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
header input[type="text"],
header select {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
}
.tabs {
    display: flex;
    list-style: none;
    margin-bottom: 20px;
}
.tabs li {
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
}
.tabs li.active {
    font-weight: bold;
    border-bottom: 2px solid #282c34;
}
#card-display {
    display: grid;
    max-height: 100px;
}
